<div>
    <h1>Here is a list of some of our available products</h1>

    <div class="card-container">

        <mat-card class="card">
            <img mat-card-image class="card-img" src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                alt="Photo of a Shiba Inu">
            <mat-card-content class="card-content">
                <div>
                    <h2>iphone XS
                    </h2>
                    <p>4 days ago</p>
                </div>
                <p>The Apple iPhone XS is available in 3 colors with 64GB memory. Shoot amazing videos, The Apple iPhone
                    XS is available in 3 colors with 64GB memory. Shoot amazing videos... </p>
                <a routerLink="productId" mat-button color="primary">View More</a>
                <div>
                    <div> </div>
                    <div>
                        <p> Created by, Olutunde</p>
                    </div>
                </div>

            </mat-card-content>
        </mat-card>

    </div>
</div>