<div class="container" *ngIf="!loading">

    <div class="image-container">
        <img src={{productDetails.imageUrl}} alt={{productDetails.name}}>
    </div>

    <div class="details-container">

        <h2>{{productDetails.name}}</h2>
        <p>By <span class="bold">Olutunde</span></p>

        <div class="flex">

            <div class="flex">
                <span>$</span>
                <span class="price">{{ productDetails.price * selected }}</span>
            </div>


            <p style="color: green;" class="bold">Save 12%</p>

        </div>

        <p class="description">{{productDetails.description}}</p>

        <div>

            <mat-form-field>
                <mat-label>Quantity</mat-label>
                <mat-select [(value)]="selected">
                    <mat-option value=1>1</mat-option>
                    <mat-option value=2>2</mat-option>
                    <mat-option value=3>3</mat-option>
                    <mat-option value=4>4</mat-option>
                    <mat-option value=5>5</mat-option>
                </mat-select>
            </mat-form-field>

        </div>
    </div>


</div>

<div *ngIf="loading" class="loading">
    <mat-progress-spinner mode="indeterminate" value="primary" />
</div>