<h1 mat-dialog-title><strong>{{action}} Product</strong></h1>
<div mat-dialog-content>
    <div *ngIf="errorMessage" class="error"> {{errorMessage}}</div>
    <form [formGroup]="productForm" class="form-container" *ngIf="action != 'Delete'; else elseTemplate">

        <div class="grid-2 space">
            <mat-form-field class="full-width">
                <mat-label>Name</mat-label>
                <input type="text" matInput placeholder="Name" formControlName="name">
                <mat-hint>E.g Apple, Orange</mat-hint>
                <mat-error *ngIf="productForm.get('name')?.hasError('required')">Enter a product name</mat-error>
            </mat-form-field>

            <mat-form-field class="full-width">
                <mat-label>Price</mat-label>
                <input type="number" matInput placeholder="Price" formControlName="price">
                <mat-hint>E.g $1</mat-hint>
                <mat-error *ngIf="productForm.get('price')?.hasError('required')">Enter a price</mat-error>
            </mat-form-field>
        </div>

        <div class="space-2">
            <mat-form-field class="full-width">
                <mat-label>Image url</mat-label>
                <input type="text" matInput placeholder="Product Image" formControlName="imageUrl">
                <mat-error *ngIf="productForm.get('imageUrl')?.hasError('required')">Enter an image
                    url</mat-error>
            </mat-form-field>
        </div>

        <mat-form-field class="full-width">
            <mat-label>Description</mat-label>
            <textarea matInput placeholder="Product Description" formControlName="description" rows="6"></textarea>
            <mat-error *ngIf="productForm.get('description')?.hasError('required')">Enter a description for the
                product</mat-error>
        </mat-form-field>
    </form>
    <ng-template #elseTemplate class="space-2">
        Are you sure you want to delete <b>{{productForm.value.name |json}}</b>?
    </ng-template>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" [disabled]="productForm.invalid || loading "
            (click)="doAction()">{{action}}</button>
        <button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
    </div>
</div>